* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	text-align: center;
}

.wrap {
	position: relative;
	width: 500px;
	margin: 0 auto;
}

.magnifier {
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius: 100%;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 200);
	display: none;
}

.target {
	display: block;
	width: 100%;
}
